body {
    background-color: #e6f0ff; /* Fondo azul claro */
}
h2 {
    color: #6699ff; /* Azul fuerte */
}
.btn-primary {
    background-color: #4d88ff; /* Botón azul */
    border-color: #4d88ff;
}
.btn-primary:hover {
    background-color: #3366ff;
    border-color: #3366ff;
}
.btn-danger {
    background-color: #80b3ff; /* Botón eliminar azul más suave */
    border-color: #80b3ff;
}
.btn-danger:hover {
    background-color: #4da6ff;
    border-color: #4da6ff;
}
.card {
    border: 2px solid #6699ff; /* Borde azul */
    box-shadow: 0px 0px 10px 2px rgba(102, 153, 255, 0.5); /* Sombra ligera */
}
.list-group-item {
    background-color: #e6f0ff; /* Fondo suave para la lista */
    border-color: #b3c6ff; /* Borde azul */
}
.badge {
    background-color: #4d88ff; /* Color del badge */
}
